$text-color: white;
$bg-color: black;

body {
    color: $text-color;
    background-color: $bg-color;
    background-image: url('/static/images/space_3.gif');
    background-size: 100%;
    background-repeat: repeat-y;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
}

img {
    width: 600px;
    height: auto;
}

#cat_images {
    img {
        display: block;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }
}

.centered{
    text-align: center;
}

.D_list{
    position: relative;
    bottom: 85px;
    left: 1100px;
}
   
.planet-index{
    position: absolute;
    top: 100px;
}

.planet-accompl{
    position: absolute;
    top: 600px;
    right: 500px;
}

.planet-piero{
    position: absolute;
    top: 200px;
    right: 1050px;
}

.planet-goals{
    position: absolute;
    top: 1050px;
    right: 650px;

}
.planet-credits{
    position: absolute;
    top: 3000px;
    right: 400px;
}
.planet-cat{
    position: absolute;
    top: 2500px;
    left: 50px;
}

.Thank{
    position: absolute;
    left: 650px;
}
